@charset "utf-8";
/**
 * color
 *
 * author: Storm
 * date: 2017/09/19
 */

@import "./variable.scss";

.c {

  &-primary {
    color: $primary !important;
  }

  &-success {
    color: $success !important;
  }

  &-warning {
    color: $warning !important;
  }

  &-danger {
    color: $danger !important;
  }

  &-info {
    color: $info !important;
  }

  &-8 {
    color: #888;
  }
}

.bg {
  &-primary {
    color: #fff;
    background-color: $primary !important;
  }

  &-success {
    color: #fff;
    background-color: $success !important;
  }

  &-warning {
    color: #fff;
    background-color: $warning !important;
  }

  &-danger {
    color: #fff;
    background-color: $danger !important;
  }

  &-info {
    color: #fff;
    background-color: $info !important;
  }
}
