@charset "utf-8";
/**
 *
 *
 * @author: Storm
 * @date: 2018/08/10
 */

.fz {
  &-20 {
    font-size: 20px !important;
  }
  &-16 {
    font-size: 16px !important;
  }
  &-14 {
    font-size: 14px !important;
  }

}
