@charset "utf-8";
/**
 *
 *
 * @author: Storm
 * @date: 2018/09/05
 */

.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: baseline;

  // 24x24
  &-add {
    width: 12px;
    height: 12px;
    background-image: url('../assets/icon-add.png');
  }

  // 72x72
  &-tv {
    width: 36px;
    height: 36px;
    background-image: url('../assets/icon-tv.png');
  }
}
