@import "../../styles/variable.scss";

.s-tab {

  &-nav {
    background-color: #fff;

    &-item {
      color: #8391a5;
      cursor: pointer;
      padding: 12px 24px;
      transition: all .3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: #0facf3;
      }

      &.s-tab-active {
        color: #0facf3;
        cursor: default;
      }
    }
  }

  &-padding {
    .s-tab {
      &-item {
        padding: 12px 24px;
      }
    }
  }

  &-horizontal {
    .s-tab {
      &-nav {
        display: flex;
        border-bottom: 1px solid #eaeefb;

        &-item {
          border-bottom: 1px solid transparent;
          margin-bottom: -1px;

          &.s-tab-active {
            border-bottom-color: #0facf3;
          }
        }
      }
    }
  }

  &-vertical {
    display: flex;

    .s-tab {

      &-nav {
        border-right: 1px solid #eaeefb;

        &-item {
          border-right: 1px solid transparent;
          margin-right: -1px;

          &.s-tab-active {
            border-right-color: #0facf3;
          }
        }
      }

      &-content {
        flex: 1;
      }
    }
  }
}
